@import "tailwindcss";
@plugin "daisyui" {
   themes: all;
 }

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
} */
